.formbox {
  height: fit-content;
  width: 500px;
  padding: 0.75rem;
  background-color: black;
  border-radius: 20px;
}

.inputboxs {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.inputboxs input,
textarea {
  flex-basis: 70%;
}

.buttonbox button {
  margin-top: 2rem;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
}
